{
    "openapi": "3.0.2",
    "info": {
        "title": "SSL/TLS Trust Verifier",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://tlstrust-api.herokuapp.com"
        }
    ],
    "paths": {
        "/v1/{host}": {
            "get": {
                "summary": "Query Host",
                "description": "Provide a domain name as the target host to query the SSL/TLS configuration and verify root trust",
                "operationId": "query_host",
                "parameters": [
                    {
                        "description": "target domain name for the TLS Certificate to verify it's device and platform trust stores",
                        "required": true,
                        "schema": {
                            "title": "Domain Name",
                            "type": "string",
                            "description": "target domain name for the TLS Certificate to verify it's device and platform trust stores"
                        },
                        "name": "host",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Port number",
                            "maximum": 49151.0,
                            "minimum": 1.0,
                            "type": "integer",
                            "default": 443
                        },
                        "name": "port",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Control if SNI is utilised",
                            "type": "boolean",
                            "default": true
                        },
                        "name": "use_sni",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved information of the domain",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": {
                                    "_metadata": {
                                        "fetch_time": "2022-04-07T13:02:16",
                                        "certificate_not_valid_after": "2031-04-13T23:59:59",
                                        "certificate_issuer": "DigiCert Global Root CA",
                                        "certificate_issuer_ski": "03de503556d14cbb66f0a3e21b1bc397b23dd155"
                                    },
                                    "_query": {
                                        "host": "ssllabs.com",
                                        "port": 443,
                                        "use_sni": true,
                                        "peer_address": "64.41.200.100"
                                    },
                                    "trust_stores": [
                                        {
                                            "name": "Common Certificate Authority Database (CCADB)",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Java(TM) SE Runtime Environment",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Google Trust Services",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Linux (Arch)",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Certifi (Python module for Certificate Authority Certificates)",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "MinTsifry Rossii",
                                            "is_trusted": true,
                                            "exists": false
                                        },
                                        {
                                            "name": "Python 3.10",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Microsoft Windows",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Apple Devices",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "latest Android build",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 2.2 (Froyo) 2010",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 2.3 (Gingerbread) 2010",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 3 (Honeycomb) 2011",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 4 (Ice Cream Sandwich) 2011",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 4.4 (KitKat) 2013",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 7 (Nougat) 2016",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 8 (Oreo) 2017",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 9 (Pie) 2018",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 10 (Q) 2019",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 11 2020",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Android 12 2021",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Mozilla Firefox",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Tor Web Browser",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Chromium Browser",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Google Chrome",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Microsoft Edge",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Brave Browser",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Opera Browser",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Vivaldi Browser",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Amazon Silk",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Samsung Internet",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Yandex",
                                            "is_trusted": true,
                                            "exists": false
                                        },
                                        {
                                            "name": "Apple Safari",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Python built-in https module on Windows",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Python built-in https module on Linux",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Python built-in https module on Apple",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "certifi (Python module)",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "urllib (Python module)",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "requests (Python module)",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        },
                                        {
                                            "name": "Django (Python module)",
                                            "is_trusted": true,
                                            "exists": true,
                                            "expired": false
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient privileges for this action"
                    },
                    "404": {
                        "description": "No response for this domain name"
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "HTTPValidationError": {
                "title": "HTTPValidationError",
                "type": "object",
                "properties": {
                    "detail": {
                        "title": "Detail",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        }
                    }
                }
            },
            "ValidationError": {
                "title": "ValidationError",
                "required": [
                    "loc",
                    "msg",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "loc": {
                        "title": "Location",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "msg": {
                        "title": "Message",
                        "type": "string"
                    },
                    "type": {
                        "title": "Error Type",
                        "type": "string"
                    }
                }
            }
        }
    }
}
